@charset "utf-8";
	li,textarea {
	vertical-align:top
}
article,aside,body,details,figcaption,figure,footer,header,hgroup,html,iframe,menu,nav,section {
	display:block
}
article, aside, blockquote, body, button, code, dd,
details, dl, dt, fieldset, figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input,
legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body, html {
    background: #fff;
    width: 100%;
		height: 100%;
}
body,button,input,select,textarea {
	font:12px/1.5 'PingFang SC','microsoft yahei',tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif
}
html[lang=en] body {
	font:12px/1.5 tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif
}
h1,h2,h3,h4,h5,h6 {
	font-size:1em
}
a:active {
	background-color:transparent
}
a:active,a:hover,a:link,a:visited {
	outline:0;
	*star:expression(this.onFocus=this.blur())
}
b,cite,code,em,i,small,th {
	font-size:1em;
	font-style:normal;
	font-weight:500
}
button,input,select,textarea {
	font-size:1em;
	box-sizing:content-box
}
button,input[type=button],input[type=submit] {
	cursor:pointer
}
button[disabled],input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,iframe,img {
	border:0
}
img {
	display:inline-block;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic
}
ol,ul {
	list-style:none
}
q:after,q:before {
	content:''
}
li{

	text-decoration: none;
}
#root{
	height: 100%;
	width: 100%;
}
